{% extends 'base.html' %}

{% block pagetitle %}
    Plant Disease Detection
{% endblock pagetitle %}

{% block body %}
    <style>
        body {
            background-color: #000000;
            background-image: url("https://wallpapercave.com/wp/wp7525693.jpg");
            background-position: center;
            background-attachment: fixed; /* Added background-attachment property */
            opacity: 2;
        }
        
        .bttn-pill {
            border-radius: 50px;
            padding: 10px 30px;
            font-size: 20px;
            font-weight: 500;
            color: white;
            background-color: rgb(4, 54, 4);
            border: 2px solid rgb(4, 54, 4);
            transition: 0.5s;
        }
        
        .bttn-pill:hover {
            background-color: rgba(4, 54, 4, 0.8);
            border-color: rgba(4, 54, 4, 0.8);
        }
    </style>

    <div class="row mb-5 text-center text-white laptop">
        <div class="col-lg-10 mx-auto">
            <h1 class="display-4" style="padding-top: 2%;font-weight: 400;text: white);"><b>Plant Disease
                    Detection</b></h1>
            <p class="lead" style="font-weight: 500;color: black;">Empowering Farmers with AI: Detecting Plant Diseases for Healthier Crops</p>
        </div>
    </div>

    <center class="laptop">
        <a href="/index">
            <button class="bttn-pill bttn-lg btn-success accordion-flush active "><b style="color: black;">Check Now</b></button>
        </a>
    </center>
{% endblock body %}
